.search {
  display: flex;
  padding-top: 24px;
  margin-bottom: 24px;
  position: relative;

  &__input {
    width: 360px;
    height: 46px;
    padding:  0 20px 0 42px;
    margin-right: 10px;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: white;
  }

  &__button {
    height: 48px;
    padding:  0 24px;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: -0.13px;
    color: white;
    outline: none;
    border: none;
    background-color: #9bc837;
  }

  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 35px;
    left: 15px;
  }
}
