<header class="header">
  <a  class="header__icon-link" routerLink="/courses">
    <img class="header__icon" alt="icon" src="../../../assets/images/logo.svg">
    VIDEO COURSE
  </a>

  <div class="header__login-wrapper">
    <a  class="header__icon-link header__icon-link_login" routerLink="/courses">
      <img class="header__icon header__icon_login" alt="icon" src="../../../assets/images/ic-user.svg">
      User login
    </a>
    <a  class="header__icon-link header__icon-link_login" routerLink="/courses">
      <img class="header__icon header__icon_login" alt="icon" src="../../../assets/images/ic-exit.svg">
      Log off
    </a>
  </div>
</header>
