<div class="dialog">
  <div class="dialog__header">
    <h2 class="dialog__title" mat-dialog-title>Delete course?</h2>
      <mat-icon mat-dialog-close aria-hidden="false" aria-label="close">close</mat-icon>
  </div>
  <mat-dialog-content class="mat-typography">
    <p class="dialog__text">Are you sure you want to delete {{data.text}}?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="dialog__button" mat-button mat-dialog-close>Cancel</button>
    <button class="dialog__button dialog__button_confirm" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Yes, delete
    </button>
  </mat-dialog-actions>
</div>
