<section class="course-section">
  <app-search (filterData)="filterData($event)"></app-search>

  <div class="add-course">
    <button class="add-course__button" routerLink="/courses/new">Add course</button>
  </div>

  <div class="course-section__list-of-courses">
    <app-course-tile
      *ngFor="let course of coursesToDisplay"
      [course]="course"
      (delete)="delete($event)"
    ></app-course-tile>

    <div class="course-section__load-more" *ngIf="shouldShowLoadMore">
      <button class="course-section__load-more-button" (click)="loadCourses()">
        LOAD MORE
      </button>
    </div>
    <div class="course-section__add-course-tile" *ngIf="courses && !courses.length && !shouldShowLoadMore">
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </div>
  </div>
</section>
