<div class="add-course">
  <h1 class="add-course__title">New Course</h1>

  <form [formGroup]="courseForm" (ngSubmit)="submitCourse()" class="add-course__form">
    <label for="name" class="add-course__label">Title
      <input
        type="text"
        id="name"
        formControlName="name"
        class="add-course__input"
        [ngClass]="f.name.errors"
      />
      <p *ngIf="f.name.errors?.maxlength"> title max length = 50</p>
    </label>

    <label for="description" class="add-course__label">Description
      <textarea
        type="text"
        id="description"
        formControlName="description"
        class="add-course__input add-course__input_textarea"
        [ngClass]="{ 'is-invalid': f.description.errors }"
      ></textarea>
      <p *ngIf="f.description.errors?.maxlength"> description max length = 500</p>
    </label>

    <app-duration [formGroup]="courseForm" [(course)]=course></app-duration>
    <app-date [formGroup]="courseForm" [(course)]=course></app-date>
    <app-authors [(course)]=course formControlName="authors"></app-authors>

    <div class="add-course__actions">
      <button
        type='submit'
        [disabled]="courseForm.invalid"
        class="add-course__button"
      >
        Save
      </button>
      <button
        (click)="location.back()"
        type="reset"
        class="add-course__button add-course__button_cancel"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
