<div class="add-course">
  <h1 class="add-course__title">New Course</h1>

  <form [formGroup]="courseForm" #registerForm="ngForm" (ngSubmit)="submitCourse()" class="add-course__form">
    <label for="title" class="add-course__label">Title
      <input
        type="text"
        id="title"
        [(ngModel)]="course.title"
        formControlName="title"
        class="add-course__input"
        [ngClass]="{ 'is-invalid': f.title.errors }"
      />
    </label>


    <label for="description" class="add-course__label">Description
      <textarea
        type="text"
        id="description"
        [(ngModel)]="course.description"
        formControlName="description"
        class="add-course__input add-course__input_textarea"
        [ngClass]="{ 'is-invalid': f.description.errors }"
      ></textarea>
    </label>

    <app-duration [formGroup]="courseForm" [(course)]=course></app-duration>
    <app-date [formGroup]="courseForm" [(course)]=course></app-date>
    <app-authors [formGroup]="courseForm" author="{{author}}"></app-authors>

    <div class="add-course__actions">
      <button
        type='submit'
        [disabled]="courseForm.invalid"
        class="add-course__button"
      >
        Save
      </button>
      <button
        (click)="location.back()"
        type="reset"
        class="add-course__button add-course__button_cancel"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
